/* Reset margin dan padding untuk memastikan konsistensi tampilan */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Gaya untuk body */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

/* Gaya untuk header */
header {
    background-color: #ffffff;
    color: #000000;
    padding: 10px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

/* Gaya untuk main */
main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

/* Gaya untuk formulir */
form {
    background: #0074f8;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    color: white;
}

form label {
    display: block;
    margin-bottom: 5px;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #04a396;
    border-radius: 4px;
}

form button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Gaya untuk tabel */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background:  #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
}

table th {
    background-color: #f4f4f4;
    text-align: left;
}

/* Gaya untuk footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 0;
}
