body {  
    font-family: Arial, sans-serif;  
    margin: 0;  
    padding: 0;  
    display: flex;  
}  

.sidebar {  
    width: 250px;  
    background-color: #333;  
    color: white;  
    padding: 20px;  
    height: 5000px;
}  

.sidebar h2 {  
    text-align: center;  
}  

.sidebar ul {  
    list-style: none;  
    padding: 0;  
}  

.sidebar ul li {  
    margin: 15px 0;  
}  

.sidebar ul li a {  
    color: white;  
    text-decoration: none;  
    display: block;  
    padding: 10px;  
    transition: 0.3s;  
}  

.sidebar ul li a:hover {  
    background-color: #575757;  
}  

.content {  
    flex: 1;  
    padding: 20px;  
}
